.controlPanel {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 200px;
	background-color: #5BEB5B;
	padding: 20px;

	label {
		display: none;
	}

	button {
		margin-top: 20px;
		width: 100%;
	}
}

.infoWindow {
	bottom: 0;
	left: 0;
	background-color: #5BEB5B;
	padding: 20px;
	color: white;
	position: fixed;
	z-index: 100
}